:root.theme-light {
  --bg-color: #fff1f7;
  --main-color-text: #353430;
  --header-bg: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --header-title: #ffc2e6;
  --text-title: #353430;
  --nav-color: #353430;
  --nav-color-transparent: #35343066;
  --rec-display: none;
  --block-title-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --main-color-text: #353430;
    --header-bg: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --header-title: #ffc2e6;
    --text-title: #353430;
    --nav-color: #353430;
    --nav-color-transparent: #35343066;
    --rec-display: none;
    --block-title-color: #353430;
  }
}
