/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color);
  background-image: var(--header-bg);
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--main-color-text);
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-content: space-between;
  height: 100vh;
  min-height: 668px;
  padding: 20px 0;
  margin-block-end: 40px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  place-self: start end;
  padding: 1px 6px;
  color: var(--nav-color);
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-block-start: 1px solid var(--nav-color);
  border-inline-end: 1px solid var(--nav-color);
}
.decorated-zone::after {

  left: 10px;
  bottom: 10px;
  border-block-end: 1px solid var(--nav-color);
  border-inline-start: 1px solid var(--nav-color);
}


.rec-indicator {
  display: var(--rec-display);
  position: absolute;
  right: 17px;
  top: 17px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: blur(1.5px);
  animation: pulse 1.5s infinite;
}

.rec-indicator-text {
  display: var(--rec-display);
  position: absolute;
  top: 10px;
  right: 38px;
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: 400;
  color: var(--accent-color);
}

@keyframes pulse {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0.4;
  }
  100% {
      opacity: 1;
  }
}


.header__theme-menu {
  grid-row: 1 / 2;
  width: 100%;
  display: grid;
  place-content: center end;
  padding-right: 10px;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-item {
  font-family: var(--main-font-family);
  color: var(--nav-color);
  font-size: 18px;
  line-height: 18px;
  text-align: center;
}

.header__theme-menu-button {
  display: flex;
  place-content: center;
  width: 70px;
  height: 26px;
  background-color: transparent;
  text-transform: lowercase;
  border: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--nav-color-transparent);
  cursor: pointer;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--nav-color);
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--nav-color);
}

.header__title,
.footer__title {
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--header-title);
  line-height: 83%;
}

.header__title {
  place-self: center start;
  text-shadow: var(--accent-color) 4px 4px;
  grid-column: 1 / 3;
  padding: 0 10px;
}

.header__discription {
  place-self: center;
  font-family: var(--main-font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background-color: var(--accent-color);
  color: var(--text-title);
  grid-column: 1 / 3;
  height: max-content;
  margin: 0 10px;
}

.content {
  padding: 0 10px;
  display: grid;
  gap: 50px;
  margin-block-end: 40px;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-title);
}

.content__block {
  display: grid;
  gap: 20px;
}

.content__block-title {
  grid-column: 1 / 2;
  font-family: var(--main-font-family);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
  color: var(--block-title-color);
}

.content__block-item {
  display: grid;
  gap: 20px;
}

.content__card {
  display: grid;
  gap: 10px;
  height: fit-content;
}

.content__card-title {
  font-family: var(--main-font-family);
  font-weight: 700;
  color: var(--text-title);
  line-height: 23.4px;
  font-size: 18px;
}

.min-font-weight {
  font-weight: 400;
}

.content__card-text {
  font-family: var(--main-font-family);
  color: var(--main-color-text);
  font-weight: 400;
  line-height: 23.4px;
  font-size: 18px;
}

.link-decor {
  text-shadow: var(--accent-color) 2px 2px;
  text-decoration: none;
}

.link-decor:hover {
  text-decoration: underline;
  cursor: pointer;
}

.link-decor:focus-visible {
  outline: 1px solid var(--main-color-text);
}

.content__card-images {
  display: grid;
  gap: 10px;
}

.content__card-item img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.content__card-item {
  width: 100%;
}

.footer {
  display: grid;
  place-content: center;
  height: 100vh;
  min-height: 668px;
}

.footer__title {
  text-shadow: var(--accent-color) 2px 2px;
}

@media (width >= 768px) {
  .header {
    grid-template-columns: repeat(2, 1fr);
    padding: 107px 0;
    margin-block-end: 60px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
 
  }
  
  .decorated-zone::after {
    left: 20px;
    bottom: 20px;
  }
  
  .rec-indicator {
    right: 27px;
    top: 27px;
  }
  
  .rec-indicator-text {
    top: 20px;
    right: 48px;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
    padding-right: 20px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    padding: 0;
  }

  .header__discription {
    grid-column: 2 / 3;
    margin: 0 20px 0 0;
  }

  .content {
    gap: 80px;
    padding: 0 20px;
    margin-block-end: 60px;
  }


  .content__block {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }

  .content__block:not(.wide-section) {
    
  }

  .content__block-item:not(.wide-section) {
    grid-column: 2 / 4;
  }

  .wide-section {
    grid-template-columns: 1fr;
  }

  .wrapped-title {
    max-width: calc(1 / 3 * 100% - 40px);
    margin-bottom: -20px;
  }

  .content__card-images {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 9px;
  }

  .content__card-item img {
    height: 100%;
  }

  .sunset-img {
    grid-column: 1 / 3;
  }

  .ice-cream-img {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }

  .tape-img {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }

  .books-img {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .street-img {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    grid-template-columns: 1fr;
  }

  .footer__title {
    place-self: center;
  }

}

@media (width >= 1024px) {
  .header {
    padding: 20px 0;
  }

  .wide-section:not(.content__block) {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__theme-menu {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    place-content: start center;
    padding-right: 0;
  }
  
  .header__theme-menu-list {
    display: flex;
  }

  .header__discription {
    margin-block-end: 57px;
  }

  .content__block:not(.wide-section) {
    gap: 20px;
  }

}
